<section class="scroller-background{% if sectionAdditionalClass %} {{ sectionAdditionalClass }}{% endif %}">
  <div class="scroller-background__items-wrapper{% if wrapperAdditionalClass %} {{ wrapperAdditionalClass }}{% endif %}">
    <div class="scroller-background__items{% if itemsAdditionalClass %} {{ itemsAdditionalClass }}{% endif %}"></div>
  </div>
</section>
