<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }}{% else %}Title{% endif %}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}Description{% endif %}">
    {% include '../components/favicon/simple.twig' %}
    {% include '../components/preload/fonts.twig' with {
      fonts: {
        1: 'EuclidCircularB/EuclidCircularB-Regular',
        2: 'EuclidCircularB/EuclidCircularB-Medium',
        3: 'EuclidCircularB/EuclidCircularB-SemiBold'
      }
    } %}
    <link rel="stylesheet" href="./css/index.min.css">
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div class="main-container">
      {% include '../components/ispringUI/headers/header.twig' %}
      {% include '../components/ispringUI/headers/products/learn.twig' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include '../components/ispringUI/footers/footer.twig' with {
        'color': 'light'
      } %}
    </div>
    {% block scripts %}{% endblock %}
    <script src="./js/index.min.js" type="module"></script>
  </body>
</html>
