<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% if title %}{{ title }}{% else %}Title{% endif %}</title>
        <meta name="description"
              content="{% if description %}{{ description }}{% else %}Description{% endif %}">
        {% include '../components/favicon/simple.twig' %}
        {% include '../components/preload/fonts.twig' with {
            'as': 'font',
            rel: 'preload',
            params: {
                1: {
                    href: 'euclidCircularB/EuclidCircularB-Regular.woff2',
                    type: 'woff2',
                },
                2: {
                    href: 'euclidCircularB/EuclidCircularB-Medium.woff2',
                    type: 'woff2',
                },
                3: {
                    href: 'euclidCircularB/EuclidCircularB-SemiBold.woff2',
                    type: 'woff2',
                }
            }
        } %}
        <link rel="stylesheet" href="./css/index.min.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include '../components/ispringUI/headers/header.twig' %}
        {% include '../components/ispringUI/headers/products/learn.twig' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include '../components/ispringUI/footers/footer.twig' with {
            'color': 'light'
        } %}
        {% block scripts %}{% endblock %}
        <script src="./js/index.min.js" type="module" defer></script>
    </body>
</html>