<a class="button{% if small %}_small{% endif %}
{% if color %} button_{{ color }}{% endif %}
{% if additionalClass %} {{ additionalClass }}{% endif %}"
   href="{{ link }}">{{ text }}
    {% if withArrow %}
        <span class="button__arrow">→</span>
    {% endif %}
</a>