<a class="button-with-underline{% if pricing %} button-with-underline_pricing{% endif %}{% if hoverUnderline %} button-with-underline_hover-underline{% endif %}
{% if additionalClass %} {{ additionalClass }}{% endif %}"
    href="{{ link }}">{{ text }}
    {% if withArrow %}
        <span class="button-with-underline__arrow">→</span>
    {% endif %}
</a>
