<div class="footer__social">
    {% for key, value in socialList %}
        <a class="footer__social-link footer__social-link_{{ key }}" href="{{ value }}" target="_blank"></a>
    {% endfor %}
</div>