@import '../../config/vars';

$pathToImg: '@img/ispringUI/headers/';
$white: #fff;

.product-menu {
  display: none
}

@media screen and (width >= 768px) {
  .product-menu {
    display: block;
    height: 45px
  }

  .product-menu__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 710px;
    margin: 0 auto;
  }

  .product-menu_scrolling {
    position: fixed;
    z-index: 400;
    top: 0;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-padding-after: 7px;
    -webkit-padding-before: 8px;
    padding-block-end: 7px;
    padding-block-start: 8px;
  }

  .product-menu_scrolling .product-menu__list {
    width: max-content;
    max-width: 100%;
    margin: 0;
  }

  .product-menu_scrolling .product-menu__link {
    display: none
  }

  .product-menu_scrolling .product-menu__link_active::after {
    bottom: -8px
  }

  .product-menu_scrolling .product-menu__link_logo {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
  }

  .product-menu_scrolling .product-menu__link_scrolling {
    display: block;
    margin-inline-start: 5px;
    padding-block: 7px;
    padding-inline: 8px
  }

  .product-menu_scrolling .product-menu__link_scrolling-button {
    font-size: 14px;
    margin-left: 15px;
    transition: color .3s, background .3s;
    border-width: 1px;
    border-style: solid;
    border-radius: 101px;
    padding-block: 7px;
    padding-inline: 18px;
  }

  .product-menu_scrolling .product-menu__link_scrolling-button::after, .product-menu_scrolling .product-menu__link_scrolling-button::before {
    content: none
  }

  .product-menu_scrolling .product-menu__link_scrolling-button_pricing {
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .product-menu_scrolling .product-menu__link_scrolling-button_pricing::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -14px;
    width: 20px;
    height: 16px;
    margin: auto;
    content: '';
    transition: all .3s;
    opacity: .6;
    background: url('#{$pathToImg}products/ispring-suite/cart-menu.svg') no-repeat 50%;
    background-size: contain;
  }

  .product-menu__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }

  .product-menu__list li {
    list-style-type: none
  }

  .product-menu__list_dropdown {
    position: relative
  }

  .product-menu__dropdown {
    position: absolute;
    z-index: 2;
    top: 95%;
    left: 10px;
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    border: 1px solid $productMenuDropdownBorderColor;
    border-radius: 6px;
    background: $white;
    box-shadow: 0 0 3px $defaultBorderColor;
  }

  .product-menu__dropdown::before {
    position: absolute;
    top: -7px;
    left: 35px;
    width: 12px;
    height: 12px;
    content: '';
    transform: rotate(45deg);
    border: 1px solid rgba(0, 0, 0, .15);
    background: $white;
  }

  .product-menu__dropdown::after {
    position: absolute;
    top: 0;
    left: 32px;
    width: 20px;
    height: 12px;
    content: '';
    background: $white;
  }

  .product-menu__link {
    font-family: $euclidCircularRegular;
    font-size: 13px;
    line-height: 1;
    display: inline-block;
    margin-left: 3px;
    padding: 16px 8px 15px;
    transition: color .3s, background .3s;
    text-decoration: none;
    color: $productMenuColor;
  }

  .product-menu__link:focus, .product-menu__link:hover {
    text-decoration: none;
    color: $defaultTitleColor;
    outline: none;
  }

  .product-menu__link_active {
    position: relative;
    color: $defaultTitleColor;
  }

  .product-menu__link_active::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 1px;
    margin: auto;
    content: '';
    background: $defaultTitleColor;
  }

  .product-menu__link_button {
    margin-left: 14px;
    padding: 7px 18px;
    transition: color .3s, background .3s;
    border-width: 1px;
    border-style: solid;
    border-radius: 101px;
  }

  .product-menu__link_button::after {
    content: none
  }

  .product-menu__link_dropdown-trigger {
    position: relative;
    margin-right: 5px;
    padding-right: 16px;
    cursor: pointer;
  }

  .product-menu__link_dropdown-trigger::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 11px;
    height: 7px;
    margin: auto;
    content: '';
    background: url('#{$pathToImg}top_menu/arrow.svg') no-repeat 50%;
    background-size: contain;
  }

  .product-menu__link_dropdown {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 5px 25px 5px 15px;
  }

  .product-menu__link_dropdown:hover {
    color: $defaultTitleColor;
    background: $productMenuHoverBackgroundColor;
  }

  .product-menu__link_out-dropdown-hidden, .product-menu__link_scrolling-button_pricing {
    display: none
  }

  .product-menu .visible {
    display: block
  }
}

@media screen and (width >= 1024px) {
  .product-menu_scrolling {
    padding-top: 7px;
    padding-bottom: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .product-menu__content {
    max-width: 960px
  }

  .product-menu__dropdown {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .product-menu__link {
    font-family: $euclidCircularRegular;
    font-size: 15px;
    margin-left: 3px;
    padding: 15px 8px 14px
  }

  .product-menu__link_separator {
    position: relative;
    margin-left: 25px;
  }

  .product-menu__link_separator::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -12px;
    width: 1px;
    height: 70%;
    margin: auto;
    content: '';
    background: $productMenuSeparatorColor;
  }

  .product-menu__link_button {
    padding: 7px 18px
  }

  .product-menu__link_dropdown-trigger, .product-menu__link_item {
    display: none
  }

  .product-menu__link_out-dropdown-hidden {
    display: flex
  }
}

@media screen and (width >= 1057px) {
  .product-menu__content {
    max-width: 1000px
  }
}

.b-animate_slide-down, .b-animate_slide-up {
  overflow-y: hidden;
  max-height: 0;
  transition: max-height .3s ease-in-out
}

.b-animate_slide-down {
  max-height: 1000px
}

@media screen and (width <= 767px) {
  .graylayer {
    position: fixed;
    z-index: 99;
    display: none;
    width: 100%;
    height: 100%;
    cursor: default;
    opacity: 1;
    background: rgba(0, 0, 0, .4);
    inset: 0;
  }

  .graylayer.display {
    display: block
  }

  .product-mobile-menu {
    position: relative;
    z-index: 100;
    top: -1px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid $productMenuListBorderColor;
    background: $white;
  }

  .product-mobile-menu__wrapper {
    position: relative;
    z-index: 1001;
    display: block;
    height: 46px;
    margin-bottom: 0;
    background: $white;
  }

  .product-mobile-menu__wrapper.start_scroll {
    position: fixed;
    top: 0;
    width: 100%;
    background: $white;
  }

  .product-mobile-menu__arrow-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 8px 0;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
  }

  .product-mobile-menu__arrow-button.down .product-mobile-menu__arrow, .product-mobile-menu__arrow-button.up .product-mobile-menu__arrow {
    background: url('#{$pathToImg}icons/arrow.png') 50% no-repeat
  }

  .product-mobile-menu__arrow-button.up .product-mobile-menu__arrow {
    transform: rotate(180deg)
  }

  .product-mobile-menu__text {
    font: 15px/1 $euclidCircularRegular;
    color: $productMenuColor;
  }

  .product-mobile-menu__text_logo {
    margin-left: 20px
  }

  .product-mobile-menu__arrow {
    position: absolute;
    display: block;
    width: 23px;
    height: 10px;
    margin: auto;
    inset: 0;
  }

  .product-mobile-menu__nav {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0
  }

  .product-mobile-menu__list-item {
    list-style-type: none
  }

  .product-mobile-menu__list-item:not(:last-child) {
    border-bottom: 1px solid $productMenuListBorderColor
  }

  .product-mobile-menu__list-item_dropdown-trigger {
    display: none
  }

  .product-mobile-menu__link {
    font: 400 15px/3.6 $euclidCircularRegular;
    display: block;
    transition: color .3s;
    text-decoration: none;
    color: $productMenuColor;
  }

  .product-mobile-menu__link:focus {
    text-decoration: none;
    color: $productMenuColor;
    outline: none;
  }

  .product-mobile-menu__link:hover {
    text-decoration: none;
    color: $defaultTitleColor;
    outline: none;
  }

  .product-mobile-menu__link_active {
    color: $defaultTitleColor
  }
}

@media screen and (width >= 768px) {
  .product-mobile-menu__content {
    display: none;
  }
}

@media screen and (width >= 768px) {
  .product-menu__wrapper {
    border-bottom: 2px solid $defaultBorderColor;
  }

  .product-menu_scrolling {
    background: $productMenuScrollingBackgroundColor
  }

  .product-menu_scrolling, .product-menu_scrolling .product-menu__wrapper {
    border-bottom-color: $productMenuScrollingBackgroundColor
  }

  .product-menu_scrolling .product-menu__link_logo {
    width: 137px;
    height: 20px;
    background: url('#{$pathToImg}products/ispring-learn/redesign/learn-logo-white.svg') no-repeat 50%;
    background-size: contain;
  }

  .product-menu__link_button {
    border-color: $defaultTextColor
  }
}

@media screen and (width >= 768px) {
  .product-menu_scrolling .product-menu__link_scrolling-button_demo, .product-menu_scrolling .product-menu__link_scrolling-button_pricing {
    color: $defaultTextColor;
    border-color: $defaultTitleColor;
    background: $white;
  }

  .product-menu_scrolling .product-menu__link_scrolling-button_demo:hover, .product-menu_scrolling .product-menu__link_scrolling-button_pricing:hover {
    color: $defaultTitleColor
  }

  .product-menu_scrolling .product-menu__link_scrolling-button_contact, .product-menu_scrolling .product-menu__link_scrolling-button_full-version, .product-menu_scrolling .product-menu__link_scrolling-button_trial {
    color: $white;
    border-color: $blueButtonBackground;
    background: $blueButtonBackground;
  }

  .product-menu_scrolling .product-menu__link_scrolling-button_contact:hover, .product-menu_scrolling .product-menu__link_scrolling-button_full-version:hover, .product-menu_scrolling .product-menu__link_scrolling-button_trial:hover {
    color: $white;
    border-color: $blueButtonBackgroundHover;
    background: $blueButtonBackgroundHover;
  }
}
