<div class="product-mobile-menu__content" id="responsiveTopMenuWrapper">
    <div id="responsiveTopMenuContent" class="product-mobile-menu__wrapper" role="navigation">
        <div class="product-mobile-menu__arrow-button js-product-mobile-menu-arrow down">
            <span class="product-mobile-menu__text product-mobile-menu__text_logo">
                iSpring Learn
            </span>
            <span class="product-mobile-menu__arrow">&nbsp;</span>
        </div>
        <div id="responsiveProductMenu" class="product-mobile-menu b-animate_slide-up">
            <ul class="product-mobile-menu__nav">
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link product-mobile-menu__link_active" title="Overview">
                        Overview
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="What's New" href="/ispring-learn/whats-new">
                        What's New
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="Features" href="/ispring-learn/features">
                        Features
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="Integration" href="/ispring-learn/integrations">
                        Integration
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="Solutions" href="/solutions">
                        Solutions
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="System&nbsp;Requirements" href="/ispring-learn/system-requirements">
                        System&nbsp;Requirements
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="Pricing" href="/ispring-learn/pricing">
                        Pricing
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="Live Demo" href="/ispring-learn/demo">
                        Live Demo
                    </a>
                </li>
                <li class="product-mobile-menu__list-item product-mobile-menu__list-item_dropdown-trigger">
                    <a class="product-mobile-menu__link js-link" title="More" href="javascript:void(0);">
                        More
                    </a>
                </li>
                <li class="product-mobile-menu__list-item">
                    <a class="product-mobile-menu__link js-link" title="Free Trial" href="/ispring-learn/get-free-trial">
                        Free Trial
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="graylayer" id="grayLayerSub"></div>
</div>
<div class="product-menu">
    <div class="js-product-menu product-menu__wrapper">
        <div class="product-menu__content">
            <div class="product-menu__link_logo js-logo-link"></div>
            <ul class="product-menu__list">
                <li>
                    <a class="product-menu__link product-menu__link_active">
                        Overview
                    </a>
                </li>
                <li>
                    <a class="product-menu__link" href="/ispring-learn/whats-new" title="What's New">
                        What's New
                    </a>
                </li>
                <li>
                    <a class="product-menu__link" href="/ispring-learn/features" title="Features">
                        Features
                    </a>
                </li>
                <li>
                    <a class="product-menu__link" href="/ispring-learn/integrations" title="Integration">
                        Integration
                    </a>
                </li>
                <li>
                    <a class="product-menu__link product-menu__link_out-dropdown-hidden" href="/solutions" title="Solutions">
                        Solutions
                    </a>
                </li>
                <li>
                    <a class="product-menu__link product-menu__link_out-dropdown-hidden" href="/ispring-learn/system-requirements"
                        title="System&nbsp;Requirements">
                        System&nbsp;Requirements
                    </a>
                </li>
                <li>
                    <a class="product-menu__link product-menu__link_separator" href="/ispring-learn/pricing" title="Pricing">
                        Pricing
                    </a>
                </li>
                <li>
                    <a class="product-menu__link product-menu__link_scrolling product-menu__link_scrolling-button product-menu__link_scrolling-button_demo"
                        href="/ispring-learn/demo" title="Live Demo">
                        Live Demo
                    </a>
                </li>
                <li class="product-menu__list_dropdown">
                    <a class="product-menu__link product-menu__link_dropdown-trigger js-dropdown-trigger">
                        More
                    </a>
                    <ul class="product-menu__dropdown js-product-menu-dropdown">
                        <li>
                            <a class="product-menu__link product-menu__link_dropdown" href="/solutions" title="Solutions">
                                Solutions
                            </a>
                        </li>
                        <li>
                            <a class="product-menu__link product-menu__link_dropdown" href="/ispring-learn/system-requirements"
                                title="System&nbsp;Requirements">
                                System&nbsp;Requirements
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="product-menu__link product-menu__link_button product-menu__link_scrolling product-menu__link_scrolling-button product-menu__link_scrolling-button_trial"
                        href="/ispring-learn/get-free-trial" title="Free Trial">
                        Free Trial
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
