@import '../mixins/fontFace';

$RosatomBold: 'Rosatom Bold', sans-serif;
$RosatomRegular: 'Rosatom Regular', sans-serif;
$fontsDir: rosatom;

@include font-face('Rosatom Bold', '#{$fontsDir}/rosatomBold', bold, normal, true);
@include font-face('Rosatom Regular', '#{$fontsDir}/rosatomRegular', normal, normal, true);
