// Fonts
$euclidCircularLight: 'Euclid Circular B Light', 'Roboto', sans-serif;
$euclidCircularRegular: 'Euclid Circular B Regular', 'Roboto', sans-serif;
$euclidCircularMedium: 'Euclid Circular B Medium', 'Roboto', sans-serif;
$euclidCircularSemiBold: 'Euclid Circular B SemiBold', 'Roboto', sans-serif;
$euclidCircularBold: 'Euclid Circular B Bold', 'Roboto', sans-serif;

// Fonts Italic
$euclidCircularLightItalic: 'Euclid Circular B Light Italic', 'Roboto', sans-serif;
$euclidCircularItalic: 'Euclid Circular B Italic,' 'Roboto', sans-serif;
$euclidCircularMediumItalic: 'Euclid Circular B Medium Italic', 'Roboto', sans-serif;
$euclidCircularSemiBoldItalic: 'Euclid Circular B SemiBold Italic', 'Roboto', sans-serif;
$euclidCircularBoldItalic: 'Euclid Circular B Bold Italic', 'Roboto', sans-serif;

// Default Colors
$defaultTitleColor: #151824;
$defaultTextColor: #3d3e47;
$defaultIconsColor: #2f3337;
$defaultBorderColor: #ededed;

// Suite Colors
$defaultSuiteColor: #b8195b;

// Learn Colors
$defaultLearnColor: #3cb46e;

// Market Colors
$defaultMarketColor: #773bdb;

// Page Colors
$defaultPageColor: #2972e0;

// Space Colors
$defaultSpaceColor: #003dae;

// Quizmaker Colors
$defaultQuizmakerColor: #f98d00;

// Blog Colors
$defaultBlogColor_1: #130f3f;
$defaultBlogColor_2: #003ecf;
$defaultBlogColor_3: #91affd;
$defaultBlogColor_4: #d4e0ff;
$defaultBlogColor_5: #f2f4f8;
$defaultBlogColor_6: #fcccd4;
$defaultBlogColor_7: #dd4a6c;

// Buttons Colors
$defaultButtonTextColor: #fff;
$blueButtonBackground: #0547c0;
$blueButtonBackgroundHover: #004fe1;
$yellowButtonBackground: #ffd269;
$yellowButtonBackgroundHover: #f9ca5c;
$yellowButtonTextColor: #3d3e47;
$greenButtonBackground: #14b855;
$greenButtonBackgroundHover: #0baf4c;
$pinkButtonBackground: #b8195b;
$pinkButtonBackgroundHover: #ce1c66;
$whiteButtonTextColor: #3d3e47;
$whiteButtonTextColorHover: #000;
$whiteButtonBorderColor: #595961;
$cookiesButtonBorderColor: #595961;
$cookiesButtonBorderColorHover: #000;
$cookiesButtonColorHover: #000;
$blackButtonColor: #fff;
$blackButtonBackground: #3c3c3c;
$blackButtonBackgroundHover: #000;

// Buttons with underline Colors
$underlineButtonColor: #3d3e47;
$underlineButtonColorHover: #151824;

// Header Colors
$productMenuColor: #676e78;
$productMenuListBorderColor: #e7e8ea;
$productMenuDropdownBorderColor: #d1d1d1;
$productMenuHoverBackgroundColor: #f2f4f8;
$productMenuSeparatorColor: #dde0e5;
$productMenuScrollingBackgroundColor: #252f3c;

// Footer Colors
$footerEmailInputColor: #8c929b;
$footerEmailInputBorderColor: #c3c4ca;
$footerEmailInputColorHover: #404040;
$footerEmailInputBorderColorHover: #adb3b9;
$footerSubmitButtonColor: #fff;
$footerSubmitButtonBackgroundColor: #0547c0;
$footerSubmitButtonBackgroundColorHover: #004fe1;
$footerFormErrorMessageColor: #ef5b5b;

// Transitions
$defaultTransition: all .3s ease;
$leftTransition: left .3s ease;
$rightTransition: right .3s ease;

// Box Shadow
$defaultShadow: 0 9px 23px rgba(22, 25, 32, 0.15);

// Border Radius
$defaultBorderRadius: 10px;

// Containers Width
$widthContainer: 1040px;
$widthContainerFluid: 1167px;
