<footer class="footer" data-color="{{ color }}">
    <div class="container container_footer">
        <div class="footer__items-wrapper">
            {% include './footerItem.twig' with {
                'group': 'products',
                'header': {
                    'Products': {
                        title: 'Best Online Training Software and Authoring Tools',
                        link: '/products'
                    }
                },
                'items': {
                    'iSpring Learn LMS': {
                        title: 'Cloud-based LMS',
                        link: '/ispring-learn'
                    },
                    'iSpring Suite': {
                        title: 'Online Training Software',
                        link: '/ispring-suite'
                    },
                    'iSpring Market': {
                        title: 'Sell courses online',
                        link: '/ispring-market'
                    },
                    'iSpring Presenter': {
                        title: 'iSpring Presenter',
                        link: '/ispring-presenter'
                    },
                    'Free Quiz Maker': {
                        title: 'Free Quiz Maker',
                        link: '/free-quiz-maker'
                    },
                    'iSpring Converter Pro': {
                        title: 'PowerPoint to HTML5 Converter',
                        link: '/ispring-converter'
                    },
                    'iSpring Quiz Maker': {
                        title: 'Online Quiz Maker Software',
                        link: '/ispring-quizmaker'
                    },
                    'iSpring Cam Pro': {
                        title: 'Video and Screen Capture Software',
                        link: '/ispring-cam'
                    },
                    'iSpring Free': {
                        title: 'Spring Free',
                        link: '/ispring-free'
                    }
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'solutions',
                'header': {
                    'Solutions': {
                        title: 'eLearning Solutions',
                        link: '/solutions'
                    }
                },
                'items': {
                    'Compliance Training': {
                        title: 'Corporate Compliance Training',
                        link: '/solutions/compliance-training'
                    },
                    'Induction Training': {
                        title: 'Induction Training Software',
                        link: '/solutions/induction-training'
                    },
                    'Microlearning': {
                        title: 'Microlearning Platform',
                        link: '/solutions/microlearning-lms'
                    },
                    'Product Training': {
                        title: 'Product Knowledge Training',
                        link: '/solutions/product-training'
                    },
                    'Mobile Learning': {
                        title: 'Mobile Learning Software',
                        link: '/solutions/mobile-learning-software'
                    },
                    'Channel Partner Training': {
                        title: 'Channel Partner Training',
                        link: '/solutions/channel-partner-training'
                    },
                    'PowerPoint to SCORM': {
                        title: 'PowerPoint to SCORM Converter',
                        link: '/ppt-to-scorm'
                    },
                    'PowerPoint to HTML5': {
                        title: 'PowerPoint to HTML5 Converter',
                        link: '/ispring-converter'
                    },
                    'Online Training Software': {
                        title: 'Online Employee Training Software',
                        link: '/free-elearning-suite'
                    }
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'company',
                'header': {
                    'Company': {
                        title: 'Company',
                        link: '/company'
                    },
                },
                'items': {
                    'About Us': {
                        title: 'About Us',
                        link: '/company'
                    },
                    'Customers': {
                        title: 'Customers',
                        link: '/featured_customers'
                    },
                    'Partnership Program': {
                        title: 'Partnership Program',
                        link: '/reseller-program'
                    },
                    'Affiliate Program': {
                        title: 'Affiliate Program',
                        link: '/affiliate-program'
                    },
                    'Contacts': {
                        title: 'Contacts',
                        link: '/company/contact'
                    }
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'articles',
                'header': {
                    'Articles': {
                        title: 'Articles',
                        link: '/table-of-contents'
                    },
                },
                'items': {
                    'What is an LMS': {
                        title: 'What is an LMS',
                        link: '/blog/what-is-lms'
                    },
                    'Best eLearning Authoring Tools': {
                        title: 'Best eLearning Authoring Tools',
                        link: '/blog/html5-authoring-tools'
                    },
                    'How to Create a Course': {
                        title: 'How to Create a Course',
                        link: '/blog/how-to-create-online-course'
                    },
                    'How to Create Training Module': {
                        title: 'How to Create Training Module',
                        link: '/blog/how-to-create-training-module'
                    },
                    'SCORM Authoring Tools': {
                        title: 'SCORM Authoring Tools',
                        link: '/blog/scorm-software'
                    }
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'academy',
                'header': {
                    'Academy': {
                        title: 'Academy'
                    },
                },
                'items': {
                    'Course Library': {
                        title: 'Course Library',
                        link: '/course-library'
                    },
                    'Certification': {
                        title: 'Certification',
                        link: '/certification'
                    },
                    'Talent Hub': {
                        title: 'Talent Hub',
                        link: '/ispring-talent-hub'
                    },
                    'Learning Opportunities': {
                        title: 'Learning Opportunities',
                        link: '/ispringacademy/video-course'
                    },
                    'Course Development': {
                        title: 'Course Development',
                        link: '/course-development'
                    }
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'support',
                'header': {
                    'Support': {
                        title: 'Support',
                        link: 'support'
                    },
                },
                'items': {
                    'Knowledge Base': {
                        title: 'Knowledge Base',
                        link: '/support'
                    },
                    '+1 800 640 0868': {
                        title: 'Contact Support',
                        link: 'tel:+18006400868'
                    },
                    'support@ispring.com': {
                        title: 'Contact Support',
                        link: 'mailto:support@ispring.com'
                    }
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'community',
                'header': {
                    'Community': {
                        title: 'Community'
                    },
                },
                'items': {
                    'Blog': {
                        title: 'Blog',
                        link: '/blog/'
                    },
                    'Forum': {
                        title: 'Forum',
                        link: 'https://community.ispringsolutions.com/'
                    },
                    'Webinars': {
                        title: 'Webinars',
                        link: '/webinars'
                    },
                    'Guides': {
                        title: 'Guides',
                        link: '/guides'
                    }
                }
            } %}
            {% include './social.twig' with {
                'socialList': {
                    'facebook': 'https://www.facebook.com/iSpringPro',
                    'twitter': 'https://twitter.com/iSpringPro',
                    'instagram': 'https://www.instagram.com/ispringsolutions/',
                    'linkedin': 'https://www.linkedin.com/companies/ispring-solutions',
                    'pinterest': 'https://www.pinterest.com/ispringsolutions',
                    'youtube': 'https://www.youtube.com/user/iSpringPro'
                }
            } %}
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-copyright copyright">
                <span class="footer__logo"></span>
                <span class="copyright__logo"></span>
                <div class="copyright__sales-email">
                    <a class="copyright__sales-email-link" href="mailto:sales@ispring.com">sales@ispring.com</a>
                </div>
                <div class="copyright__info">
                    <p class="copyright__text">
                        © 2001-2023 iSpring. All rights reserved.
                    </p>
                    <div class="copyright__additional-links-list">
                        <a class="copyright__additional-link" href="/legal/terms_of_use">Terms of Use</a>
                        <span class="copyright__additional-links-delimiter">|</span>
                        <a class="copyright__additional-link" href="/company/policy/privacy">Privacy Policy</a>
                        <span class="copyright__additional-links-delimiter">|</span>
                        <a class="copyright__additional-link" href="/data-security-guarantee">Data Security</a>
                        <br>
                        <a class="copyright__additional-link" href="/legal/dmca_notice">DMCA Notice</a>
                        <span class="copyright__additional-links-delimiter">|</span>
                        <a class="copyright__additional-link" id="cookieConsentEuPopup" href="javascript:void(0);">Cookie&nbsp;Settings</a>
                    </div>
                </div>
            </div>
            <div class="footer__bottom-form form">
                <p class="form__header">
                    Subscribe to our newsletters
                </p>
            </div>
        </div>
    </div>
</footer>