<footer class="footer">
    <div class="container container_footer">
        <div class="footer__items-wrapper">
            {% include './footerItem.twig' with {
                'group': 'products',
                'header': {
                    'Products': 'Best Online Training Software and Authoring Tools',
                },
                'items': {
                    'iSpring Learn LMS': 'Cloud-based LMS',
                    'iSpring Suite': 'Online Training Software',
                    'iSpring Market': 'Sell courses online',
                    'iSpring Presenter': 'iSpring Presenter',
                    'Free Quiz Maker': 'Free Quiz Maker',
                    'iSpring Converter Pro': 'PowerPoint to HTML5 Converter',
                    'iSpring Quiz Maker': 'Online Quiz Maker Software',
                    'iSpring Cam Pro': 'Video and Screen Capture Software',
                    'iSpring Free': 'iSpring Free'
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'solutions',
                'header': {
                    'Solutions': 'eLearning Solutions',
                },
                'items': {
                    'Compliance Training': 'Corporate Compliance Training',
                    'Induction Training': 'Induction Training Software',
                    'Microlearning': 'Microlearning Platform',
                    'Product Training': 'Product Knowledge Training',
                    'Mobile Learning': 'Mobile Learning Software',
                    'Channel Partner Training': 'Channel Partner Training',
                    'PowerPoint to SCORM': 'PowerPoint to SCORM Converter',
                    'PowerPoint to HTML5': 'PowerPoint to HTML5 Converter',
                    'Online Training Software': 'Online Employee Training Software'
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'company',
                'header': {
                    'Company': 'Company',
                },
                'items': {
                    'About Us': 'About Us',
                    'Customers': 'Customers',
                    'Partnership Program': 'Partnership Program',
                    'Affiliate Program': 'Affiliate Program',
                    'Contacts': 'Contacts'
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'articles',
                'header': {
                    'Articles': 'Articles',
                },
                'items': {
                    'What is an LMS': 'What is an LMS',
                    'Best eLearning Authoring Tools': 'Best eLearning Authoring Tools',
                    'How to Create a Course': 'How to Create a Course',
                    'How to Create Training Module': 'How to Create Training Module',
                    'SCORM Authoring Tools': 'SCORM Authoring Tools'
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'academy',
                'header': {
                    'Academy': 'Academy',
                },
                'items': {
                    'Course Library': 'Course Library',
                    'Certification': 'Certification',
                    'Talent Hub': 'Talent Hub',
                    'Learning Opportunities': 'Learning Opportunities',
                    'Course Development': 'Course Development'
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'support',
                'header': {
                    'Support': 'Support',
                },
                'items': {
                    'Knowledge Base': 'Knowledge Base',
                    '+1 800 640 0868': 'Contact Support',
                    'support@ispring.com': 'Contact Support'
                }
            } %}
            {% include './footerItem.twig' with {
                'group': 'community',
                'header': {
                    'Community': 'Community',
                },
                'items': {
                    'Blog': 'Blog',
                    'Forum': 'Forum',
                    'Webinars': 'Webinars',
                    'Guides': 'Guides'
                }
            } %}
            {% include './social.twig' with {
                'socialList': {
                    'facebook': 'https://www.facebook.com/iSpringPro',
                    'twitter': 'https://twitter.com/iSpringPro',
                    'instagram': 'https://www.instagram.com/ispringsolutions/',
                    'linkedin': 'https://www.linkedin.com/companies/ispring-solutions',
                    'pinterest': 'https://www.pinterest.com/ispringsolutions',
                    'youtube': 'https://www.youtube.com/user/iSpringPro'
                }
            } %}
        </div>
        <div class="footer__bottom">

        </div>
    </div>
</footer>