.footer[data-color='dark'] {
  --footer-background-color: #252f3c;
  --footer-items-header-color: #dadada;
  --footer-items-header-hover-color: #fff;
  --footer-items-color: #dadada;
  --footer-item-hover-color: #fff;
  --footer-socials-border-color: #cecece;
  --footer-socials-border-hover-color: #cecece;
  --footer-delimeter-color: #595a62;
  --footer-form-header-color: #dadada;
  --footer-form-description-color: #dadada;
  --footer-form-messages: #fff;
  --footer-sales-email-color: #dadada;
  --footer-copyright-text-color: #dadada;
  --footer-additional-link-color: #dadada;
  --footer-links-delimeter-color: #dadada;
}

.footer[data-color='light'] {
  --footer-background-color: #fff;
  --footer-items-header-color: #3d3e47;
  --footer-items-header-hover-color: #333;
  --footer-items-color: #3d3e47;
  --footer-item-hover-color: #333;
  --footer-socials-border-color: #50515f;
  --footer-socials-border-hover-color: #000;
  --footer-delimeter-color: #dde0e5;
  --footer-form-header-color: #3d3e47;
  --footer-form-description-color: #3d3e47;
  --footer-form-messages: #333;
  --footer-sales-email-color: #3d3e47;
  --footer-copyright-text-color: #3d3e47;
  --footer-additional-link-color: #3d3e47;
  --footer-links-delimeter-color: #3d3e47;
}
