.footer[data-color='dark'] {
  --footer-background-color: #252F3C;
  --footer-items-header-color: #DADADA;
  --footer-items-header-hover-color: #FFFFFF;
  --footer-items-color: #DADADA;
  --footer-item-hover-color: #FFFFFF;
  --footer-socials-border-color: #CECECE;
  --footer-socials-border-hover-color: #CECECE;
  --footer-delimeter-color: #595A62;
  --footer-form-header-color: #DADADA;
  --footer-form-description-color: #DADADA;
  --footer-form-messages: #FFFFFF;
  --footer-sales-email-color: #DADADA;
  --footer-copyright-text-color: #DADADA;
  --footer-additional-link-color: #DADADA;
  --footer-links-delimeter-color: #DADADA;
}

.footer[data-color='light'] {
  --footer-background-color: #FFFFFF;
  --footer-items-header-color: #3D3E47;
  --footer-items-header-hover-color: #333333;
  --footer-items-color: #3D3E47;
  --footer-item-hover-color: #333333;
  --footer-socials-border-color: #50515F;
  --footer-socials-border-hover-color: #000000;
  --footer-delimeter-color: #DDE0E5;
  --footer-form-header-color: #3D3E47;
  --footer-form-description-color: #3D3E47;
  --footer-form-messages: #333333;
  --footer-sales-email-color: #3D3E47;
  --footer-copyright-text-color: #3D3E47;
  --footer-additional-link-color: #3D3E47;
  --footer-links-delimeter-color: #3D3E47;
}