@import '../config/vars', 'footerThemeColors';

$imgFooterPath: '@img/footer/';
$socials: 'facebook', 'twitter', 'instagram', 'linkedin', 'pinterest', 'youtube';

.footer[data-color='dark'] {
  .footer__logo {
    background-image: url('#{$imgFooterPath}logo-footer-dark.svg');
  }

  .footer__social-link {
    @each $social in $socials {
      &_#{$social} {
        background-image: url('#{$imgFooterPath}#{$social}-white.svg');

        &:hover {
          border: 1px solid var(--footer-socials-border-hover-color);
          background-image: url('#{$imgFooterPath}#{$social}-white-hover.svg');
        }
      }
    }
  }
}

.footer[data-color='light'] {
  .footer__logo {
    background-image: url('#{$imgFooterPath}logo-footer-light.svg');
  }

  .footer__social-link {
    @each $social in $socials {
      &_#{$social} {
        background-image: url('#{$imgFooterPath}#{$social}.svg');

        &:hover {
          border: 1px solid var(--footer-socials-border-hover-color);
          background-image: url('#{$imgFooterPath}#{$social}-hover.svg');
        }
      }
    }
  }
}

.container_footer {
  padding-top: 140px;
  padding-bottom: 42px;
}

.footer {
  position: relative;
  transition: $defaultTransition;
  background-color: var(--footer-background-color);

  &__item-list {
    margin-bottom: 32px;
  }

  &__item-header {
    margin-bottom: 14px;
    list-style-type: none;

    &-link,
    &-title {
      font: 17px/1.82 $euclidCircularSemiBold;
      transition: $defaultTransition;
      text-decoration: none;
      color: var(--footer-items-header-color);
    }

    // stylelint-disable order/order
    &-link {
      &:focus,
      &:hover,
      &:active {
        transition: $defaultTransition;
        color: var(--footer-items-header-hover-color);
      }
    }
  }

  &__item {
    line-height: 1.42857;
    margin-top: 6px;
    list-style-type: none;

    &-link {
      font: 400 14px/1.82 $euclidCircularRegular;
      transition: $defaultTransition;
      text-decoration: none;
      color: var(--footer-items-color);

      &:focus,
      &:hover,
      &:active {
        transition: $defaultTransition;
        color: var(--footer-item-hover-color);
      }
    }
  }

  &__social {
    display: block;
    justify-content: center;
    max-width: 106px;
    margin: 0 auto;
    padding-left: 0;
    list-style-type: none;
    text-align: start;
    background: none;

    &-link {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 4px;
      margin-bottom: 6px;
      transition: $defaultTransition;
      border: 1px solid var(--footer-socials-border-color);
      border-radius: 6px;
      background-repeat: no-repeat;
      background-position: 50%;

      &:hover {
        transition: $defaultTransition;
      }

      &_instagram,
      &_youtube {
        margin-right: 0;
      }
    }
  }

  &__bottom {
    display: flex;

    &-copyright {
      width: 100%;
      text-align: center;
    }

    &-form {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    width: 143px;
    height: 35px;
    margin: 0 auto;
    transition: $defaultTransition;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 143px 35px;
  }
}

.copyright {
  &__sales-email {
    margin: 20px auto 44px;

    &-link {
      font: 14px/1.82 $euclidCircularRegular;
      transition: $defaultTransition;
      text-decoration: none;
      color: var(--footer-sales-email-color);
    }
  }

  &__text {
    font: 14px/1.82 $euclidCircularRegular;
    transition: $defaultTransition;
    color: var(--footer-copyright-text-color);
  }

  &__additional-links-list {
    margin-top: 4px;
  }

  &__additional-links-delimiter {
    font-size: 13px;
    margin-right: 1px;
    margin-left: 1px;
    transition: $defaultTransition;
    color: var(--footer-links-delimeter-color);
  }

  &__additional-link {
    font: 14px/1.82 $euclidCircularRegular;
    transition: $defaultTransition;
    text-decoration: none;
    color: var(--footer-additional-link-color);
  }
}

.form {
  &__header {
    font: 17px/1.82 $euclidCircularSemiBold;
    transition: $defaultTransition;
    color: var(--footer-form-header-color);
  }

  &__description {
    font: 14px/1.82 $euclidCircularRegular;
    margin: 7px 0 0;
    transition: $defaultTransition;
    color: var(--footer-form-description-color);

    &-link {
      font: inherit;
      color: inherit;
    }
  }
}

@media screen and (width >= 375px) {
  .footer {
    &__items-wrapper {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }

    &__item-list {
      &_company {
        grid-column: 1;
        grid-row: 2;
      }

      &_articles {
        grid-column: 2;
        grid-row: 2;
      }

      &_support {
        grid-column: 1;
      }

      &_community {
        grid-column: 1;
        grid-row: 3;
      }
    }

    &__social {
      grid-column: 1/3;
    }
  }
}

@media screen and (width >= 680px) {
  .footer {
    &__items-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__item-list {
      &_products {
        grid-column: 1;
        grid-row: 1/3;
      }

      &_solutions {
        grid-column: 2;
        grid-row: 1/3;
      }

      &_company {
        grid-column: 1;
        grid-row: 3;
      }

      &_articles {
        grid-column: 3;
        grid-row: 2;
      }

      &_support {
        grid-column: 3;
        grid-row: 1;
      }

      &_community {
        grid-column: 2;
        grid-row: 3;
      }
    }

    &__social {
      margin-left: 0;
      grid-column: 3;
    }
  }
}

@media screen and (width >= 768px) {
  .container_footer {
    padding-top: 97px;
  }

  .footer {
    &__logo {
      position: unset;
      display: block;
      width: 104px;
      height: 23px;
      margin: 10px 0 15px;
      background-size: 104px 23px;
    }

    &__bottom {
      padding-top: 22px;
      transition: $defaultTransition;
      border-top: 1px solid var(--footer-delimeter-color);

      &-copyright {
        width: 45%;
        text-align: left;
      }

      &-form {
        display: block;
        width: 52%;
        margin-top: 10px;
        margin-left: 20px;
      }
    }
  }

  .copyright {
    &__sales-email {
      display: none;
    }
  }

  .form {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 18px 0 0;

    &__email-input {
      font: 14px/1.82 $euclidCircularRegular;
      display: inline-block;
      width: 230px;
      height: 36px;
      margin-right: 9px;
      padding: 0 12px;
      transition: $defaultTransition;
      color: $footerEmailInputColor;
      border: 1px solid $footerEmailInputBorderColor;
      border-radius: 3px;

      &:focus,
      &:hover,
      &:active {
        transition: $defaultTransition;
        color: $footerEmailInputColorHover;
        border-color: $footerEmailInputBorderColorHover;
        outline: none;
      }
    }

    &__submit-button {
      font: 14px/1.82 $euclidCircularMedium;
      width: 120px;
      height: 36px;
      margin-left: 0;
      padding: 0;
      cursor: pointer;
      transition: $defaultTransition;
      text-align: center;
      color: $footerSubmitButtonColor;
      border: none;
      border-radius: 3px;
      background-color: $footerSubmitButtonBackgroundColor;

      &:hover,
      &:active {
        transition: $defaultTransition;
        border: none;
        background-color: $footerSubmitButtonBackgroundColorHover;
      }
    }

    &__message {
      font: 14px/1.42857 $euclidCircularMedium;
      transition: $defaultTransition;
      color: var(--footer-form-messages);

      &_success {
        position: relative;

        &::before {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-top: 1px;
          margin-right: 10px;
          content: '';
          vertical-align: top;
          background: url('#{$imgFooterPath}success-check-mark.png');
        }
      }

      &_error {
        font-size: 16px;
      }

      &_red {
        font: 13px $euclidCircularRegular;
        padding-top: 9px;
        color: $footerFormErrorMessageColor;
      }
    }
  }
}

@media screen and (width >= 1024px) {
  .footer {
    &__items-wrapper {
      margin-bottom: 11px;
      grid-template-columns: auto;
    }

    &__item-list {
      margin-bottom: 0;

      &_products,
      &_solutions, {
        grid-row: 1/6;
      }

      &_company {
        grid-column: 3;
        grid-row: 1/6;
      }

      &_articles {
        padding-top: 15px;
        grid-column: 3;
        grid-row: 2/6;
      }

      &_academy {
        grid-column: 4;
        grid-row: 1;
      }

      &_support {
        padding-top: 15px;
        grid-column: 4;
        grid-row: 2/6;
      }

      &_community {
        grid-column: 5;
        grid-row: 1/3;
      }
    }

    &__social {
      grid-column: 5;
      grid-row: 3;
    }
  }

  .copyright {
    &__additional-links-list {
      margin-top: 0;
    }
  }
}

@media screen and (width >= 1056px) {
  .footer {
    &__bottom {
      margin-top: 59px;
      padding-top: 22px;

      &-copyright {
        width: 50%;
      }

      &-form {
        width: 45%;
        margin-left: 35px;
      }
    }
  }

  .form {
    &__message_success {
      font-size: 16px;
    }

    &__email-input {
      width: 284px;
      height: 38px;
    }

    &__submit-button {
      width: 136px;
      height: 38px;
    }
  }
}
