$RosatomBold: 'RosatomBold', sans-serif;
$RosatomRegular: 'RosatomRegular', sans-serif;

@font-face {
  font-family: 'RosatomBold';
  font-display: swap;
  src: url('../fonts/RosatomBold.woff') format('woff');
  src: local('Rosatom Bold'), local('Rosatom-Bold');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RosatomRegular';
  font-display: swap;
  src: local('Rosatom Regular'), local('Rosatom-Regular');
  src: url('../fonts/RosatomRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}