// Fonts
$EuclidCircularRegular: 'Euclid Circular B';
$EuclidCircularMedium: 'Euclid Circular B Medium';
$EuclidCircularBold: 'Euclid Circular B';

// Default Colors
$defaultTitleColor: #151824;
$defaultTextColor: #3D3E47;
$iconsColor: #2F3337;

// Suite Colors
$defaultSuiteColor: #B8195B;

// Learn Colors
$defaultLearnColor: #3CB46E;

// Quizmaker Colors
$defaultQuizmakerColor: #F98D00;

// Page Colors
$defaultPageColor: #2972E0;

// Market Colors
$defaultMarketColor: #773BDB;

// Buttons Colors
$defaultButtonTextColor: #FFFFFF;
$blueButtonBackground: #0547C0;
$blueButtonBackgroundHover: #004FE1;
$yellowButtonBackground: #FFD269;
$yellowButtonBackgroundHover: #F9CA5C;
$yellowButtonTextColor: #3D3E47;
$greenButtonBackground: #14B855;
$greenButtonBackgroundHover: #0BAF4C;
$pinkButtonBackground: #B8195B;
$pinkButtonBackgroundHover: #CE1C66;
$whiteButtonTextColor: #3D3E47;
$whiteButtonTextColorHover: #000000;
$whiteButtonBorderColor: #595961;
$cookiesButtonBorderColor: #595961;
$cookiesButtonBorderColorHover: #000000;
$cookiesButtonColorHover: #000000;
$blackButtonColor: #FFFFFF;
$blackButtonBackground: #3C3C3C;
$blackButtonBackgroundHover: #000000;

// Buttons with underline Colors
$underlineButtonColor: #3D3E47;
$underlineButtonColorHover: #151824;

// Transitions
$defaultTransition: all 3s ease;
$leftTransition: left .3s ease;
$rightTransition: right .3s ease;
