// Fonts
$EuclidCircularLight: Light, Roboto, sans-serif;
$EuclidCircularRegular: Euclid Circular B Regular, Roboto, sans-serif;
$EuclidCircularMedium: Euclid Circular B Medium, Roboto, sans-serif;
$EuclidCircularSemiBold: Euclid Circular B SemiBold, Roboto, sans-serif;
$EuclidCircularBold: Euclid Circular B Bold, Roboto, sans-serif;

// Fonts Italic
$EuclidCircularLightItalic: Euclid Circular B Light Italic, Roboto, sans-serif;
$EuclidCircularItalic: Euclid Circular B Italic, Roboto, sans-serif;
$EuclidCircularMediumItalic: Medium Italic, Roboto, sans-serif;
$EuclidCircularSemiBoldItalic: Euclid Circular B SemiBold Italic, Roboto, sans-serif;
$EuclidCircularBoldItalic: Bold Italic, Roboto, sans-serif;

// Default Colors
$defaultTitleColor: #151824;
$defaultTextColor: #3D3E47;
$iconsColor: #2F3337;

// Suite Colors
$defaultSuiteColor: #B8195B;

// Learn Colors
$defaultLearnColor: #3CB46E;

// Market Colors
$defaultMarketColor: #773BDB;

// Page Colors
$defaultPageColor: #2972E0;

// Space Colors
$defaultSpaceColor: #003DAE;

// Quizmaker Colors
$defaultQuizmakerColor: #F98D00;

// Blog Colors
$defaultBlogColor_1: #130F3F;
$defaultBlogColor_2: #003ECF;
$defaultBlogColor_3: #91AFFD;
$defaultBlogColor_4: #D4E0FF;
$defaultBlogColor_5: #F2F4F8;
$defaultBlogColor_6: #FCCCD4;
$defaultBlogColor_7: #DD4A6C;

// Buttons Colors
$defaultButtonTextColor: #FFFFFF;
$blueButtonBackground: #0547C0;
$blueButtonBackgroundHover: #004FE1;
$yellowButtonBackground: #FFD269;
$yellowButtonBackgroundHover: #F9CA5C;
$yellowButtonTextColor: #3D3E47;
$greenButtonBackground: #14B855;
$greenButtonBackgroundHover: #0BAF4C;
$pinkButtonBackground: #B8195B;
$pinkButtonBackgroundHover: #CE1C66;
$whiteButtonTextColor: #3D3E47;
$whiteButtonTextColorHover: #000000;
$whiteButtonBorderColor: #595961;
$cookiesButtonBorderColor: #595961;
$cookiesButtonBorderColorHover: #000000;
$cookiesButtonColorHover: #000000;
$blackButtonColor: #FFFFFF;
$blackButtonBackground: #3C3C3C;
$blackButtonBackgroundHover: #000000;

// Buttons with underline Colors
$underlineButtonColor: #3D3E47;
$underlineButtonColorHover: #151824;

// Header Colors

// Footer Colors
.footer[data-color='dark'] {
  --footerBackgroundColor: #252F3C;
  --footerItemsHeaderColor: #DADADA;
  --footerItemsHeaderColorHover: #FFFFFF;
  --footerItemsColor: #DADADA;
  --footerItemsColorHover: #FFFFFF;
  --footerSocialsBorderColor: #CECECE;
  --footerSocialsBorderHoverColor: #CECECE;

  --footerDelimeterColor: #595A62;
  --footerFormHeaderColor: #DADADA;
  --footerSalesEmailColor: #DADADA;
  --footerCopyrightTextColor: #DADADA;
  --footerAdditionalLinkColor: #DADADA;
  --footerLinksDelimeterColor: #DADADA;
}

.footer[data-color='light'] {
  --footerBackgroundColor: #FFFFFF;
  --footerItemsHeaderColor: #3D3E47;
  --footerItemsHeaderColorHover: #333333;
  --footerItemsColor: #3D3E47;
  --footerItemsColorHover: #333333;
  --footerSocialsBorderColor: #50515F;
  --footerSocialsBorderHoverColor: #000000;

  --footerDelimeterColor: #DDE0E5;
  --footerFormHeaderColor: #3D3E47;
  --footerSalesEmailColor: #3D3E47;
  --footerCopyrightTextColor: #3D3E47;
  --footerAdditionalLinkColor: #3D3E47;
  --footerLinksDelimeterColor: #3D3E47;
}

// Transitions
$defaultTransition: all .3s ease;
$leftTransition: left .3s ease;
$rightTransition: right .3s ease;

// Box shadow
$defaultShadow: 0 9px 23px rgba(22, 25, 32, 0.15);

// Border radius
$defaultBorderRadius: 10px;