@import '../config/vars';

.button_small {
  font: 400 14px/1 $EuclidCircularRegular;
  position: relative;
  max-height: 30px;
  padding: 7px 17px 6px 20px;
  transition: $defaultTransition;
  text-align: center;
  text-decoration: none;
  border-radius: 200px;

  &__arrow {
    position: relative;
    left: 0;
    transition: $defaultTransition;
  }

  &:hover,
  &:focus,
  &:active {
    .button__arrow {
      left: 4px;
    }
  }
}

.button {
  font: 400 16px/1 $EuclidCircularMedium;
  position: relative;
  max-height: 56px;
  padding: 20px 35px 18px 38px;
  transition: $defaultTransition;
  text-align: center;
  text-decoration: none;
  border-radius: 200px;

  &__arrow {
    position: relative;
    left: 0;
    transition: $leftTransition;
  }

  &:hover,
  &:focus,
  &:active {
    .button__arrow {
      left: 10px;
    }
  }

  &_blue {
    color: $defaultButtonTextColor;
    background-color: $blueButtonBackground;

    &:hover,
    &:focus,
    &:active {
      background-color: $blueButtonBackgroundHover;
    }
  }

  &_yellow {
    color: $yellowButtonTextColor;
    background-color: $yellowButtonBackground;

    &:hover,
    &:focus,
    &:active {
      background-color: $yellowButtonBackgroundHover;
    }
  }

  &_green {
    color: $defaultButtonTextColor;
    background-color: $greenButtonBackground;

    &:hover,
    &:focus,
    &:active {
      background-color: $greenButtonBackgroundHover;
    }
  }

  &_pink {
    color: $defaultButtonTextColor;
    background-color: $pinkButtonBackground;

    &:hover,
    &:focus,
    &:active {
      background-color: $pinkButtonBackgroundHover;
    }
  }

  &_white {
    color: $whiteButtonTextColor;
    border: 1px solid $whiteButtonBorderColor;
    background-color: $defaultButtonTextColor;

    &:hover,
    &:focus,
    &:active {
      color: $whiteButtonTextColorHover;
      border: 1px solid $whiteButtonTextColorHover;
      background-color: $defaultButtonTextColor;
    }
  }

  &_black {
    color: $blackButtonColor;
    background-color: $blackButtonBackground;

    &:hover,
    &:focus,
    &:active {
      background-color: $blackButtonBackgroundHover;
    }
  }

  &_cookies {
    padding-right: 10px;
    padding-left: 10px;
    color: $defaultTitleColor;
    border-color: $cookiesButtonBorderColor;

    &:hover,
    &:focus,
    &:active {
      color: $cookiesButtonColorHover;
      border-color: $cookiesButtonBorderColorHover;
    }
  }
}