{% extends 'templates/antLayout.twig' %}

{% set title = 'Gulp template' %}
{% set description = 'Gulp template for development' %}

{% block styles %}
{% endblock %}

{% block content %}
    <a href="index.html">iSpring</a>
    <h1 class="ant-test">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dignissimos dolores eos, incidunt ipsum pariatur vero. Beatae error
        labore neque nesciunt provident voluptate voluptatibus? Aliquam maxime quod totam! Ducimus.
    </h1>
{% endblock %}

{% block scripts %}
{% endblock %}