{% extends 'templates/layout.twig' %}

{% set lang = 'en' %}
{% set title = 'Gulp template' %}
{% set description = 'Gulp template for development' %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="title title_h1">
      iSpring Design system
    </h1>

    <div class="container_buttons">
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'blue',
        'text': 'Try for Free',
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'white',
        'text': 'Learn more',
        'withArrow': true,
        'additionalClass': 'additionalClass additionalClass2'
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'green',
        'text': 'Try for Free',
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'yellow',
        'text': 'Try for Free',
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'pink',
        'text': 'Download for Free',
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'blue',
        'text': 'Free Trial',
        'small': true
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'white',
        'text': 'Free Trial',
        'small': true
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'green',
        'text': 'Free Trial',
        'small': true,
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'white',
        'text': 'Manage Cookies',
        'small': true,
        'additionalClass': 'button_cookies'
      } %}
      {% include './components/ispringUI/buttons/default.twig' with {
        'link': '#',
        'color': 'black',
        'text': 'Accept All',
        'small': true,
      } %}
      {% include './components/ispringUI/buttons/withUnderline.twig' with {
        'link': '#',
        'text': 'Explore',
        'withArrow': true,
        'additionalClass': 'additionalClass'
      } %}
      {% include './components/ispringUI/buttons/withUnderline.twig' with {
        'link': '#',
        'text': 'Pricing',
        'pricing': true,
        'withArrow': true,
        'additionalClass': 'additionalClass'
      } %}
      {% include './components/ispringUI/buttons/withUnderline.twig' with {
        'link': '#',
        'text': 'Book a Demo',
        'additionalClass': 'additionalClass',
        'hoverUnderline': true
      } %}
    </div>

    <div class="container_text">
      <h1 class="title title_h1">
        Save 30-40% <br> with an academic discount
      </h1>
      <h2 class="title title_h2">
        Save 30-40% <br> with an academic discount
      </h2>
      <h3 class="title title_h3">
        Save 30-40% <br> with an academic discount
      </h3>
      <p class="text">
        Please fill out the form below, and we will contact <br> you shortly to verify your academic status.
      </p>
      <p class="text_small">
        All-in-one solution that includes everything <br> you need for eLearning authoring
      </p>
    </div>

    <div class="container_picture-with-media">
      {% include './components/common/images/withMedia.twig' with {
        lazyContainerClass: 'lazyContainerClass',
        pictureClass: 'pictureClass',
        imgClass: 'imgClass',
        imgId: 'imgId',
        imgExt: 'png',
        imgAlt: 'imgAlt',
        imgPath: '@img/tmp/imagesWithMedia/group3',
        imgExt: 'png',
        media: {
          1: {
            mediaWidth: 'max-width:767px',
            imgPath: '@img/tmp/imagesWithMedia/group1',
          },
          2: {
            mediaWidth: 'max-width:1023px',
            imgPath: '@img/tmp/imagesWithMedia/group2',
          },
          3: {
            mediaWidth: 'min-width:1024px',
            imgPath: '@img/tmp/imagesWithMedia/group3',
          }
        }
      } %}
    </div>

    <h2 class="js-number-of-clients title_h2 active">59000</h2>

    <div class="scroller__wrapper">
      {% include './components/common/scroller/scrollerItem/index.twig' with {
        sectionAdditionalClass: 'scroller_small',
        dataSpeed: 'fast',
        dataDirection: 'left',
        items: {
          1: '<img
              class="img-responsive"
              src="@img/tmp/scroller/1.webp"
            >',
          2: '<img
              class="img-responsive"
              src="@img/tmp/scroller/2.webp"
            >',
          3: '<img
              class="img-responsive"
              src="@img/tmp/scroller/3.webp"
            >',
          4: '<img
              class="img-responsive"
              src="@img/tmp/scroller/4.webp"
            >',
          5: '<img
              class="img-responsive"
              src="@img/tmp/scroller/5.webp"
            >',
          6: '<img
              class="img-responsive"
              src="@img/tmp/scroller/6.webp"
            >',
          7: '<img
              class="img-responsive"
              src="@img/tmp/scroller/7.webp"
            >',
        }
      } %}

      {% include './components/common/scroller/scrollerItem/index.twig' with {
        sectionAdditionalClass: 'scroller_middle',
        dataSpeed: 'fast',
        dataDirection: 'right',
        items: {
          1: '<img
              class="img-responsive"
              src="@img/tmp/scroller/8.webp"
            >',
          2: '<img
              class="img-responsive"
              src="@img/tmp/scroller/9.webp"
            >',
          3: '<img
              class="img-responsive"
              src="@img/tmp/scroller/10.webp"
            >',
          4: '<img
              class="img-responsive"
              src="@img/tmp/scroller/11.webp"
            >',
          5: '<img
              class="img-responsive"
              src="@img/tmp/scroller/12.webp"
            >',
          6: '<img
              class="img-responsive"
              src="@img/tmp/scroller/13.webp"
            >',
          7: '<img
              class="img-responsive"
              src="@img/tmp/scroller/14.webp"
            >',
          8: '<img
              class="img-responsive"
              src="@img/tmp/scroller/15.webp"
            >',
          9: '<img
              class="img-responsive"
              src="@img/tmp/scroller/16.webp"
            >',
          10: '<img
              class="img-responsive"
              src="@img/tmp/scroller/17.webp"
            >',
        }
      } %}

      {% include './components/common/scroller/scrollerItem/index.twig' with {
        sectionAdditionalClass: 'scroller_small',
        dataSpeed: 'fast',
        dataDirection: 'left',
        items: {
          1: '<img
              class="img-responsive"
              src="@img/tmp/scroller/18.webp"
            >',
          2: '<img
              class="img-responsive"
              src="@img/tmp/scroller/19.webp"
            >',
          3: '<img
              class="img-responsive"
              src="@img/tmp/scroller/20.webp"
            >',
          4: '<img
              class="img-responsive"
              src="@img/tmp/scroller/21.webp"
            >',
          5: '<img
              class="img-responsive"
              src="@img/tmp/scroller/22.webp"
            >',
          6: '<img
              class="img-responsive"
              src="@img/tmp/scroller/23.webp"
            >',
          7: '<img
              class="img-responsive"
              src="@img/tmp/scroller/24.webp"
            >',
        }
      } %}
    </div>

    <div class="container_scroller-background">
      {% include './components/common/scroller/scrollerBackground/index.twig' with {
        sectionAdditionalClass: 'sectionAdditionalClass container',
        wrapperAdditionalClass: 'wrapperAdditionalClass',
        itemsAdditionalClass: 'itemsAdditionalClass'
      } %}
    </div>

    <div class="container_waterfall">
      {% include './components/common/scroller/waterfall/index.twig' with {
        additionalClass: 'additionalClass',
        itemAdditionalClass: 'title title_h1',
        items: {
          1: 'онлайн-курсов',
          2: 'тестов и опросов',
          3: 'видеокурсов',
          4: 'тренажёров',
          5: 'обучающих статей',
          6: 'электронных книг'
        }
      } %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
