{% extends 'templates/layout.twig' %}

{% set lang = 'en' %}
{% set title = 'Gulp template' %}
{% set description = 'Gulp template for development' %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="title title_h1">
      iSpring Design system
    </h1>
    {% include './components/common/scroller/waterfall/index.twig' with {
      additionalClass: 'additionalClass',
      itemAdditionalClass: 'itemAdditionalClass',
      items: {
        1: 'онлайн-курсов',
        2: 'тестов и опросов',
        3: 'видеокурсов',
        4: 'тренажёров',
        5: 'обучающих статей',
        6: 'электронных книг'
      }
    } %}
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
