{% extends 'templates/layout.twig' %}

{% set lang = 'en' %}
{% set title = 'Gulp template' %}
{% set description = 'Gulp template for development' %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="title title_h1">
      iSpring Design system
    </h1>
    {% include './components/common/scroller/scrollerBackground/index.twig' with {
      sectionAdditionalClass: 'sectionAdditionalClass container',
      wrapperAdditionalClass: 'wrapperAdditionalClass',
      itemsAdditionalClass: 'itemsAdditionalClass'
    } %}

    {% include './components/common/scroller/scrollerItem/index.twig' with {
      dataSpeed: 'fast',
      dataDirection: 'left',
      sectionAdditionalClass: 'sectionAdditionalClass',
      listAdditionalClass: 'listAdditionalClass',
      itemAdditionalClass: 'itemAdditionalClass',
      items: {
        1: 'HTML',
        2: 'CSS',
        3: 'JS',
        4: 'SSG',
        5: 'webdev',
        6: 'animation',
        7: 'UI/UX'
      }
    } %}
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
