@import 'vars';

// Container
.container {
  width: 100%;
  max-width: ($containerWidth + $containerPadding) + px;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media screen and (min-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media screen and (min-width: $breakpoint992) {
    max-width: 970px;
  }

  @media screen and (min-width: $breakpoint768) {
    max-width: 740px;
  }

  @media screen and (min-width: $breakpoint480) {
    max-width: none;
  }
}

// Body & Locked
body {
  font-family: $fontMain;

  &.locked {
    overflow: hidden;
  }
}