@import 'ispringUI';
@import 'components/images';
@import './mixins/textBorder';

.container_buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
}

.container_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page-title {
  margin-bottom: 20px;
}

.text-border {
  @include text-border;
  font: 500 121px/1.07 $euclidCircularSemiBold;
  text-align: center;
  color: #fff;
}