@import './config/vars';
@import './config/text';
@import './config/euclidCircularFonts';
@import './config/containers';
@import './components/buttons/default';
@import './components/buttons/withUnderline';
@import './components/quantity';
@import './components/footers/whiteFooter';
@import './components/headers/header';
@import './components/headers/learn';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $EuclidCircularRegular;
  color: $defaultTextColor;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.container_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}